In [1]:
import pandas as pd

In [2]:
! ls data/zippedData

bom.movie_gross.csv.gz
imdb.name.basics.csv.gz
imdb.title.akas.csv.gz
imdb.title.basics.csv.gz
imdb.title.crew.csv.gz
imdb.title.principals.csv.gz
imdb.title.ratings.csv.gz
rt.movie_info.tsv.gz
rt.reviews.tsv.gz
tmdb.movies.csv.gz
tn.movie_budgets.csv.gz

### Saving each file as a DF.

In [3]:
gross_bom = pd.read_csv('data/zippedData/bom.movie_gross.csv.gz')

In [4]:
names_imdb = pd.read_csv('data/zippedData/imdb.name.basics.csv.gz')

In [5]:
movies_imdb = pd.read_csv('data/zippedData/imdb.title.basics.csv.gz')

In [6]:
crew_imdb = pd.read_csv('data/zippedData/imdb.title.crew.csv.gz')

In [7]:
principals_imdb = pd.read_csv('data/zippedData/imdb.title.principals.csv.gz')

In [8]:
ratings_imdb = pd.read_csv('data/zippedData/imdb.title.ratings.csv.gz')

In [9]:
info_rt = pd.read_csv('data/zippedData/rt.movie_info.tsv.gz', sep='\t')

In [37]:
# Something wrong with Rotten Tomatoes Reviews file
# pd.read_csv('data/zippedData/rt.reviews.tsv.gz', sep='\t')
# UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 6558: invalid start byte

In [11]:
movies_tmdb = pd.read_csv('data/zippedData/tmdb.movies.csv.gz')

In [12]:
budgets_tn = pd.read_csv('data/zippedData/tn.movie_budgets.csv.gz')

### Merging the IMDb titles and ratings files

In [13]:
movies_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [14]:
ratings_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [39]:
imdb_movies_plus_ratings = \
movies_imdb.set_index('tconst').join(
    ratings_imdb.set_index('tconst'), on='tconst', how='left')

In [21]:
imdb_movies_plus_ratings

,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
tconst,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0
...,...,...,...,...,...,...,...
tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,NaN,NaN
tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,NaN,NaN
tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,NaN,NaN
tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN,NaN,NaN
tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,NaN,NaN

In [44]:
print('Movies Plus Ratings length:', len(imdb_movies_plus_ratings))
print('Ratings NaNs:', imdb_movies_plus_ratings.numvotes.isna().sum())

Movies Plus Ratings length: 146144
Ratings NaNs: 72288