In [1]:
import pandas as pd

In [2]:
bom_movie = pd.read_csv("./data/bom.movie_gross.csv")
movie_info_tsv = pd.read_csv("./data/rt.movie_info.tsv", sep = "\t")
title_basic = pd.read_csv("./data/title.basics.csv")
title_crew = pd.read_csv("./data/title.crew.csv")
title_principals = pd.read_csv("./data/title.principals.csv")
tittle_ratings = pd.read_csv("./data/title.ratings.csv")
movie_budgets = pd.read_csv("./data/tn.movie_budgets.csv")
name_basic = pd.read_csv("./data/name.basics.csv")
tmbd_movies = pd.read_csv("./data/tmdb.movies.csv")

In [3]:
bom_movie

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [4]:
Studio_empty = bom_movie[bom_movie["studio"].isna()]
Studio_empty

                              title studio  domestic_gross foreign_gross  year
210   Outside the Law (Hors-la-loi)    NaN         96900.0       3300000  2010
555         Fireflies in the Garden    NaN         70600.0       3300000  2011
933           Keith Lemon: The Film    NaN             NaN       4000000  2012
1862                 Plot for Peace    NaN          7100.0           NaN  2014
2825               Secret Superstar    NaN             NaN     122000000  2017

In [ ]:
#Doesnt matter if we dont know studio

In [5]:
gross_domestic_empty = bom_movie[bom_movie["domestic_gross"].isna()]
gross_domestic_empty

,title,studio,domestic_gross,foreign_gross,year
230,It's a Wonderful Afterlife,UTV,NaN,1300000,2010
298,Celine: Through the Eyes of the World,Sony,NaN,119000,2010
302,White Lion,Scre.,NaN,99600,2010
306,Badmaash Company,Yash,NaN,64400,2010
327,Aashayein (Wishes),Relbig.,NaN,3800,2010
537,Force,FoxS,NaN,4800000,2011
713,Empire of Silver,NeoC,NaN,19000,2011
871,Solomon Kane,RTWC,NaN,19600000,2012
928,The Tall Man,Imag.,NaN,5200000,2012
933,Keith Lemon: The Film,NaN,NaN,4000000,2012
936,"Lula, Son of Brazil",NYer,NaN,3800000,2012
966,The Cup (2012),Myr.,NaN,1800000,2012
1017,Dark Tide,WHE,NaN,432000,2012
1079,The Green Wave,RF,NaN,70100,2012
1268,22 Bullets,Cdgm.,NaN,21300000,2013
1308,Matru Ki Bijlee Ka Mandola,FIP,NaN,6000000,2013
1340,The Snitch Cartel,PI,NaN,2100000,2013
1342,All the Boys Love Mandy Lane,RTWC,NaN,1900000,2013
1368,6 Souls,RTWC,NaN,852000,2013
1659,Jessabelle,LGF,NaN,7000000,2014
1681,14 Blades,RTWC,NaN,3800000,2014
1685,Jack and the Cuckoo-Clock Heart,Shout!,NaN,3400000,2014
1739,Lila Lila,Crnth,NaN,1100000,2014
1975,Surprise - Journey To The West,AR,NaN,49600000,2015
2392,Finding Mr. Right 2,CL,NaN,114700000,2016
2468,Solace,LGP,NaN,22400000,2016
2595,Viral,W/Dim.,NaN,552000,2016
2825,Secret Superstar,NaN,NaN,122000000,2017

In [ ]:
gross_domestic_empty.shape

In [ ]:
#When doing line graph for domestic, drop foreign gross, else include all values

In [ ]:
foreign_gross_empty = bom_movie[bom_movie["foreign_gross"].isna()]
foreign_gross_empty

In [ ]:
foreign_gross_empty.shape

In [ ]:
#disregard this ^

In [ ]:
movie_info_tsv

In [ ]:
movie_info_tsv_rating = movie_info_tsv[movie_info_tsv["genre"].isna()]
movie_info_tsv_rating

In [ ]:
movie_info_tsv = movie_info_tsv.dropna(subset= ['genre'])

In [ ]:
#agreed to drop empty in "genre"

In [ ]:
movie_info_tsv

In [ ]:
movie_info_tsv_box_office = movie_info_tsv[movie_info_tsv["box_office"].isna()]

In [ ]:
movie_info_tsv_box_office

In [ ]:
title_basic

In [ ]:
title_basic_genres = title_basic[title_basic["genres"].isna()]
title_basic_genres

In [ ]:
title_crew

In [ ]:
title_crew_directors = title_crew[title_crew['directors'].isna()]
title_crew_directors

In [ ]:
title_principals

In [ ]:
title_principals.keys()

In [ ]:
tittle_ratings

In [ ]:
tittle_ratings_1 = tittle_ratings[tittle_ratings['numvotes'] < 10]
tittle_ratings_1

In [ ]:
#Possibly drop the data with "numvotes" being less than a certain amount

In [ ]:
tmbd_movies

In [ ]:
tmbd_movies_vote_count = tmbd_movies[tmbd_movies['vote_count'] == 1]
tmbd_movies_vote_count

In [ ]:
#decide which data to exclude, possibly remove 1 vote values

In [ ]:
movie_budgets

In [ ]:
movie_budgets["worldwide_gross"] = movie_budgets["worldwide_gross"].str.replace('$', '')
movie_budgets["domestic_gross"] = movie_budgets["domestic_gross"].str.replace('$', '')
movie_budgets["production_budget"] = movie_budgets["production_budget"].str.replace('$', '')
movie_budgets

In [ ]:
movie_budgets_domestic = movie_budgets[movie_budgets['domestic_gross'] == "0"]
movie_budgets_domestic

In [ ]:
movie_budgets_pitbull = movie_budgets[movie_budgets['worldwide_gross'] == "0"]
movie_budgets_pitbull

In [ ]:
name_basic

In [ ]:
#tie nconst with other data sets, these are actors/direc/writers, if we decide to correlate directors with earnings

In [ ]:
rt_reviews = pd.read_csv("./data/rt.reviews.tsv", error_bad_lines=False, )
rt_reviews