![example](images/director_shot.jpeg)

# Project Title

**Authors:** Ian Butler, Ashli Dougherty, Nicolas Pierce
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

The below cell imports standard packages and also unzips the currently zipped IMDB dataset into ./zippedData

In [ ]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

# from Kevin Rivera
from zipfile import ZipFile
# specifying the zip file name
file_name = "./zippedData/im.db.zip"
# opening the zip file in READ mode
with ZipFile(file_name, 'r') as zip:
    # printing all the contents of the zip file
    zip.printdir()
    # extracting all the files
    print('Extracting all the files now...')
    # extract data to the same directory as the other data
    zip.extractall(path='./zippedData')
    print('Done!')

%matplotlib inline

In [ ]:
conn = sqlite3.Connection('./zippedData/im.db')
cursor = conn.cursor()

In [ ]:
testq = """

select
    *
from
    movie_basics

"""

In [ ]:
testq_results = pd.read_sql(testq, conn)

In [ ]:
testq_results.head()

In [ ]:
# Here you run your code to explore the data

## IAN'S DATA EXPLORATION BEGINS HERE

Instantiate a variable to run a SQL query on the entire movie_basics table.

In [ ]:
imdb_movie_basics_query = """
select
    *
from
    movie_basics
"""

Instantiate a variable to create a pandas data frame on the movie_basics query.

In [ ]:
movie_basics_df = pd.read_sql(imdb_movie_basics_query, conn)

Render the head of the movie_basics pandas data frame.

In [ ]:
movie_basics_df.head()

Confirm the data type of the table.

In [ ]:
type(movie_basics_df)

Explore the movie_basics data frame.

In [ ]:
movie_basics_df.info()

In [ ]:
movie_basics_df.describe()

Instantiate a variable to run a SQL query on the entire movie_ratings table.

In [ ]:
imdb_movie_ratings_query = """
select
    *
from
    movie_ratings
"""

Instantiate a variable to create a pandas data frame on the movie_ratings table.

In [ ]:
movie_ratings_df = pd.read_sql(imdb_movie_ratings_query, conn)

Render the head of the movie_ratings data frame.

In [ ]:
movie_ratings_df.head()

Confirm the data type of the table.

In [ ]:
type(movie_ratings_df)

Explore the movie_ratings data frame.

In [ ]:
movie_ratings_df.info()

In [ ]:
movie_ratings_df.describe()

Extract only the movies which have more than 282 reviews.<br>This decision is made in confidence as a result of the following domain knowledge:<br>any movie which has less than 282 reviews - the 75% percentile in this dataset,<br>will not make a measurable impact in the scope of high-grossing movies.<br>This exclusion allows for the examination of only the data that pertains to the business problem.<br>In short, the problem is not concerned with movies that did not do well.

In [ ]:
fourth_quartile_movie_ratings_df = movie_ratings_df[
    movie_ratings_df['numvotes'] > 2.820000e+02]

Render the head of the fourth_quartile_movie_ratings_df data frame.

In [ ]:
fourth_quartile_movie_ratings_df.head()

Explore the fourth_quartile_movie_ratings_df data frame.

In [ ]:
fourth_quartile_movie_ratings_df.info()

In [ ]:
fourth_quartile_movie_ratings_df.describe()

Instantiate a variable to run a SQL query on the entire movie_basics table, joined with the entire movie_ratings table.<br>Specify explicit column names to avoid duplicating movie_id from movie_basics and movie_ratings.

In [ ]:
imdb_movie_basics_and_ratings_query = """
select
    mb.movie_id,
    mb.primary_title,
    mb.original_title,
    mb.start_year,
    mb.runtime_minutes,
    mb.genres,
    mr.averagerating as average_rating,
    mr.numvotes as num_votes
from
    movie_basics as mb
join movie_ratings as mr
    on mb.movie_id = mr.movie_id
"""

Instantiate a variable to create a pandas data frame on the movie_basics and movie_ratings tables.

In [ ]:
movie_basics_and_ratings_df = pd.read_sql(imdb_movie_basics_and_ratings_query, conn)

Render the head of the movie_basics_and_ratings data frame.

In [ ]:
movie_basics_and_ratings_df.head()

Confirm the data type of the movie_basics_and_ratings_df data frame.

In [ ]:
type(movie_basics_and_ratings_df)

Explore the movie_basics_and_ratings_df data frame.

In [ ]:
movie_basics_and_ratings_df.info()

In [ ]:
movie_basics_and_ratings_df.describe()

In the combined tables, extract only the movies which have more than 282 reviews.<br>This decision is made in confidence as a result of the following domain knowledge:<br>any movie which has less than 282 reviews - the 75% percentile in this dataset,<br>will not make a measurable impact in the scope of exploring high-grossing movies.<br>This exclusion allows for the examination of only the data that pertains to the business problem.<br>In short, the problem is not concerned with movies that did not do well.

In [ ]:
fourth_quartile_movie_basics_and_ratings_df = movie_basics_and_ratings_df[
    movie_basics_and_ratings_df['num_votes'] > 2.820000e+02
]

Render the head of the fourth_quartile_movie_basics_and_ratings_df data frame.

In [ ]:
fourth_quartile_movie_basics_and_ratings_df.head()

Explore the fourth_quartile_movie_basics_and_ratings_df data frame.

In [ ]:
fourth_quartile_movie_basics_and_ratings_df.info()

In [ ]:
fourth_quartile_movie_basics_and_ratings_df.describe()

Examine the frequency of duplicated movied titles in fourth_quartile_movie_basics_and_ratings_df data frame.

In [ ]:
fourth_quartile_movie_basics_and_ratings_df['primary_title'].duplicated(keep=False).value_counts()

Confirm the data type of the series.

In [ ]:
type(fourth_quartile_movie_basics_and_ratings_df['primary_title'].duplicated(keep=False).value_counts())

Based on this duplicated value counts series, there are 968 movies which appear more than once.<br>With consideration to combining this data frame with additional data by movie name,<br>it may not be possible to know which duplicate a new value corresponds to.<br>In light of this, as well as the approximately 05.53870% of the data that these duplicate values constitute,<br>they will be removed from the dataset for ease of combination and for clarity of feature association.

In [ ]:
fourth_quartile_movie_basics_and_ratings_df_filtered = fourth_quartile_movie_basics_and_ratings_df[
    (fourth_quartile_movie_basics_and_ratings_df['primary_title'].duplicated(keep=False)) == False
]

Render the head of the fourth_quartile_movie_basics_and_ratings_df_cleaned data frame.

In [ ]:
fourth_quartile_movie_basics_and_ratings_df_filtered.head()

Explore the fourth_quartile_movie_basics_and_ratings_df data frame.

In [ ]:
fourth_quartile_movie_basics_and_ratings_df_filtered.info()

In [ ]:
fourth_quartile_movie_basics_and_ratings_df_filtered.describe()

Instantiate a variable to create a pandas data frame on the movie_gross csv.

In [ ]:
movie_gross_df = pd.read_csv('./zippedData/bom.movie_gross.csv.gz')

Render the head of the movie_gross_df data frame.

In [ ]:
movie_gross_df

Explore the movie_gross_df data frame.

In [ ]:
movie_gross_df.info()

In [ ]:
movie_gross_df.describe()

Confirm the data type of the movie_gross data frame.

In [ ]:
type(movie_gross_df)

Instantiate a variable to create a pandas data frame on the movie_basics_and_ratings_df, joined with the movie_gross_df.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered = pd.merge(
    left=fourth_quartile_movie_basics_and_ratings_df_filtered,
    right=movie_gross_df,
    left_on='primary_title',
    right_on='title')

Render the head of the fourth_quartile_movie_basics_ratings_and_gross_df_filtered data frame.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.head()

Explore the fourth_quartile_movie_basics_ratings_and_gross_df_filtered data frame.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.info()

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.describe()

Of particular note at this juncture is this:<br>of the various columns and their associated datat types, there is at least one which is not as expected.<br>Specifically, the foreign_gross column, which would be expected to be a number of some kind -either an integer or a float, is an object.<br>Also evident, by way of the Jurassic World entry in the above data frame head,<br>is the fact that the contents of these objects are not stored in a consistent denomination.<br>Furthermore, the data frame info demonstrates that there are only 1484 out of 2452 entries in the foreign_gross column which are non-null.<br>With a null value percentage of approximately 39.47797%, this column contains too many missing values to consider.<br>At this time, the foreign_gross column will not be considered for data preparation or visualization.<br>domestic_gross will be the measure against which other features are considered.<br><br>Given sufficient time, this data could also be wrangled and a subset in the count of 1484 could be explored.<br>Once a minimum viable product has been achieved, this may be done.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered = (
    fourth_quartile_movie_basics_ratings_and_gross_df_filtered.drop(columns='foreign_gross'))

Render the new head of the fourth_quartile_movie_basics_ratings_and_gross_df_filtered data frame.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.head()

Sort the fourth_quartile_movie_basics_ratings_and_gross_df_filtered data frame by domestic_gross,<br>in order to observe which movies have grossed the most money domestically.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.sort_values(by='domestic_gross', ascending=False)

Explore the fourth_quartile_movie_basics_ratings_and_gross_df_filtered again.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.info()

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.describe()

The data frame info demonstrates that there are 2 non-null values for studio.<br>With a total null value percentage of approximately 0.00081%,<br>it is safe to simply say that we don't know what this value should be,<br>and replace the null with a string - 'Unknown' - demonstrating this.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered['studio'].fillna('Unknown', inplace=True)

Explore the fourth_quartile_movie_basics_ratings_and_gross_df_filtered again.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.info()

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.describe()

The data frame info demonstrates that there are 17 null values for domestic_gross.<br>With a total null value percentage of approximately 0.69331%,<br>it is acceptable to exclude these entries from domestic_gross consideration,<br>as inserting a substitute value for them will affect the statistical measures of the data.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_twice_filtered = (
    fourth_quartile_movie_basics_ratings_and_gross_df_filtered.dropna(subset=['domestic_gross'])
)

Explore the fourth_quartile_movie_basics_ratings_and_gross_df_filtered again.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_twice_filtered.info()

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_twice_filtered.describe()

The data frame info demonstrates that there are now 2435 entries with no null values.<br>To explore the relationship between domestic_gross and budget, another file is needed.

Instantiate a variable to create a pandas data frame on the movie_budgets CSV.

In [ ]:
movie_budgets_df = pd.read_csv('./zippedData/tn.movie_budgets.csv.gz')

Render the head of the movie_budgets_df data frame.

In [ ]:
movie_budgets_df.head()

Explore the movie_budgets_df data frame.

In [ ]:
movie_budgets_df.info()

In [ ]:
movie_budgets_df.describe()

Confirm the data type of movie_budgets_df.

In [ ]:
type(movie_budgets_df)

This new data frame also has information concerning domestic_gross, as well as worldwide_gross,<br>so it will be both interesting to compare the information in this domestic_gross to the column that already exists<br>and necessary to decide which column to utilize for analysis.

Combine the current data frame with the new one.

In [ ]:
final_df = pd.merge(
    left=fourth_quartile_movie_basics_ratings_and_gross_df_twice_filtered,
    right=movie_budgets_df,
    left_on='primary_title',
    right_on='movie')

Render the head of the final_df data frame.

In [ ]:
final_df.head()

Explore the final_df data frame.

In [ ]:
final_df.info()

In [ ]:
final_df.describe()

The head of the final_df data frame demonstrates that there are several columns with the same information,<br>several columns that do not directly pertain to the business question, and two columns with extremely similar information.<br>Specifically, columns that do not directly contribute to the business question<br>and which are no longer necessary for table combination are as follows:<br>movie_id, start_year, runtime_minutes, num_votes, studio, year, id, and release_date.

Remove unneccesary columns from final_df.

In [ ]:
final_df_reduced = final_df.drop(columns=['movie_id', 'start_year', 'runtime_minutes', 'num_votes', 'studio', 'year', 'id', 'release_date'])

Render the head of the final_df_reduced data frame.

In [ ]:
final_df_reduced.head()

Columns which contain repeat information are as follows: primary_title, original_title, title, and movie.

Remove columns with repeat information.

In [ ]:
final_df_reduced_simplified = final_df_reduced.drop(columns=['original_title', 'title', 'movie'])

Render the head of the final_df_reduced_simplifed data frame.

In [ ]:
final_df_reduced_simplified.head()

The only remaining column now which demonstrates unneccessary information is domestic_gross_x or domestic_gross_y. The values contained within these columns are extremely similar, so one of them may be safely disconsidered. Due to the higher level of precision associated with domestic_gross_y, domestic_gross_x will be disconsidered.

Remove domestic_gross_x from the final_df_reduced_simplified data frame.

In [ ]:
final_df_reduced_simplified_2 = final_df_reduced_simplified.drop(columns=['domestic_gross_x'])

Render the head of the final_df_reduced_simplified_2 data frame.

In [ ]:
final_df_reduced_simplified_2.head()

Explore the final_df_reduced_simplified_2 data frame.

In [ ]:
final_df_reduced_simplified_2.info()

In [ ]:
final_df_reduced_simplified_2.describe()

The current data types of the production_budget, domestic_gross_y, and worldwide_gross columns are objects and cannot be operated on as numbers.

Convert the data types of the above columns.

In [ ]:
final_df_reduced_simplified_2['production_budget'] = final_df_reduced_simplified_2['production_budget'].str.replace('$','')
final_df_reduced_simplified_2['production_budget'] = final_df_reduced_simplified_2['production_budget'].str.replace(',','')
final_df_reduced_simplified_2['production_budget'] = final_df_reduced_simplified_2['production_budget'].astype(int)
final_df_reduced_simplified_2['domestic_gross_y'] = final_df_reduced_simplified_2['domestic_gross_y'].str.replace('$','')
final_df_reduced_simplified_2['domestic_gross_y'] = final_df_reduced_simplified_2['domestic_gross_y'].str.replace(',','')
final_df_reduced_simplified_2['domestic_gross_y'] = final_df_reduced_simplified_2['domestic_gross_y'].astype(int)
final_df_reduced_simplified_2['worldwide_gross'] = final_df_reduced_simplified_2['worldwide_gross'].str.replace('$','')
final_df_reduced_simplified_2['worldwide_gross'] = final_df_reduced_simplified_2['worldwide_gross'].str.replace(',','')
final_df_reduced_simplified_2['worldwide_gross'] = final_df_reduced_simplified_2['worldwide_gross'].astype(int)

In [ ]:
final_df_reduced_simplified_2

In [ ]:
final_df_reduced_simplified_2.info()

Rename the columns for clarity and simplicity.

In [ ]:
final_df_reduced_simplified_3 = final_df_reduced_simplified_2.rename(
    columns={'primary_title':'title', 'domestic_gross_y':'domestic_gross'})

In [ ]:
final_df_reduced_simplified_3

In [ ]:
df_expanded = final_df_reduced_simplified_3.copy()

In [ ]:
df_expanded['domestic_return_on_investment'] = df_expanded['domestic_gross'] - df_expanded['production_budget']

In [ ]:
df_expanded

In [ ]:
df_expanded['worldwide_return_on_investment'] = df_expanded['worldwide_gross'] - df_expanded['production_budget']

In [ ]:
df_expanded

In [ ]:
df_expanded['domestic_roi_percentage'] = (df_expanded['domestic_return_on_investment'] / df_expanded['production_budget']) * 100

In [ ]:
df_expanded

In [ ]:
df_expanded['worldwide_roi_percentage'] = (df_expanded['worldwide_return_on_investment'] / df_expanded['production_budget']) * 100

In [ ]:
df_expanded

In [ ]:
df_expanded.groupby(by='genres').mean().sort_values(by='worldwide_roi_percentage', ascending=False)

In [ ]:
df_expanded.groupby(by='genres').mean().sort_values(by='worldwide_return_on_investment', ascending=False)

## IAN'S DATA EXPLORATION ENDS HERE

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to clean the data

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***